@charset "utf-8";
/* CSS Document */

.cg_li{ width:100%; background:#fff; border-bottom:1px solid #ddd; box-sizing:border-box;}
.cg_lis{-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
.cgli_infobox{padding:12px 4%;}
.cgli_img{ width:30%;}
.cgli_img img{ width:100%;}
.cgli_cont{color:#939393;}
.cgli_icon{ width:20px; height:20px; text-align:center; line-height:20px; color:#939393;}
.cgli_butbox{ width:100%; border-top:1px solid #ddd;}
.cgli_butbox a{ display:block; height:50px; line-height:50px; font-size:20px; text-align:center;}
.cgli_butbox a.one{ border-right:1px solid #ddd;}

.isok{ background:#04be02; color:#fff; padding:6px 10px; position:absolute; border-radius:4px; right:16px; bottom:16px;}
.isok:hover{ background:#08b322}
.isok.cur{ background:#F0A942;}

.timesel{ display:block; background:#f1f1f1;  border-radius:4px; padding:4px 12px; margin:0 4px 10px 0; color:#a2a2a2;  font-size:14pz; text-align:center;}
.timesel.cur{ background:#04be02; color:#fff;}

.huli{ padding:10px 16px; box-sizing:border-box; background:#fff; width:100%; border-bottom:1px  solid #eee;line-height:24px; font-size:16px;}
.huli i{ color:#08b322!important}
.huInput{ border:none; width:100%; box-sizing:border-box; color:#737373; font-size:16px; border-radius:6px; font-family: Arial,Microsoft YaHei;}
.hutable{ border-spacing: 0;border-collapse: collapse; width:100%;}
.hutable tr th{ border:1px solid #ddd; padding:5px; background:#f5f5f5;}
.hutable tr td{ border:1px solid #ddd; padding:5px;}

.hu_nodata{ padding:6% 0;}
.hu_nodata i{ display:block; margin:auto; text-align:center;}
.hu_nodata span{display:block; text-align:center; font-size:16px; color:#737373; padding:16px;}

.huTitle{ color:#232323;}
.huTitle i{ color:#08b322;}

.isend{ background:#f9f9f9;}
.isend *,.isend i{ color:#999 !important;}

.hu_ymbut{ text-align:center; background:#08b322; color:#fff; line-height:36px; height:36px; position:absolute; bottom:2%; border-radius:6px; width:96%; left:2%; font-size:16px;}
